node_modules
yarn-error.log
package-lock.json
src/directory.js
src/error.js
.nyc_output
coverage
src/
test.json
tmp
tmp_win
yarn.lock
test.js
spawn.js
spawner.js
daemon.js
webpack.config.js
a.lock
index.js
.DS_Store
